<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MAM NodeJs Demo</title>
    <link rel="icon" href="/static/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <div>
        <div>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                    <!-- <li><a href="/about">About us</a></li> -->
                </ul>
            </nav>
        </div>
        <br/>
        <div id="feedback-form">
            <h2 class="header">Push your comments to MAM</h2>
            <div>
                <input type="text" name="seed" id="seed" placeholder="SEED" value="ZFLH9GLDGUUXEJFCHYHJJNZXUICBFZGCYHZVNFYKUFSZZIMGUSYIY9GBUGFQDYLXBDPNHKYIWUNPOHIQW" />
                <input type="text" name="comment" id="comment" placeholder="Comment" value="test 1" />
                <button id="push-data" type="button">Push to MAM</button>
                <span id="root-hash"></span>
            </div>
        </div>
        <br/>
        <div id="feedback-form">
            <h2 class="header">Get MAM Data</h2>
            <input type="text" name="rootHash" id="rootHash" placeholder="ROOT HASH" value="VRENOQBZWKQAAJIEZUQVRBPLPWDMINOVSWSAOT9PHWECRMRU9QXZCCQFS9SXYSGRYIYWTNTTUZTIXWAVT" />
            <input type="text" name="fetch-seed" id="fetch-seed" placeholder="SEED" value="ZFLH9GLDGUUXEJFCHYHJJNZXUICBFZGCYHZVNFYKUFSZZIMGUSYIY9GBUGFQDYLXBDPNHKYIWUNPOHIQW" />
            <button id="fetch-data" type="button">Fetch from MAM</button>
            <span id="mam-data"></span>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>
